<%= form_with(model: [@group, membership], local: true) do |form| %>
  <% if membership.errors.any? %>
    <div style="color: red">
      <ul>
        <% membership.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, 'Select User to Add:' %>
    <%= form.collection_select :user_id, User.all, :id, :name, include_blank: true %>
  </div>

  <div>
      <%= form.hidden_field :group_id, value: @group.id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
