<div class="login-container"> <!-- Changed class to match the CSS styling for forms -->
  <h2 class="login-title">Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), wrapper: false, html: { class: 'login-form' }) do |f| %>
    <%= f.error_notification %>

    <div class="form-group">
      <%= f.input :profile_picture, as: :file, input_html: { class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= f.input :name, required: true, input_html: { class: 'form-control', placeholder: 'Full name' }, label: false %>
    </div>

    <div class="form-group">
      <%= f.input :email, required: true, autofocus: true, input_html: { class: 'form-control', autocomplete: "email", placeholder: 'Email' }, label: false %>
    </div>

    <div class="form-group">
      <%= f.input :username, required: true, input_html: { class: 'form-control', placeholder: 'Username' }, label: false %>
    </div>

    <div class="form-group">
      <%= f.input :timezone, as: :select, collection: ActiveSupport::TimeZone.all.map { |tz| [tz.name, tz.name] }, include_blank: 'Select Your Current Timezone', input_html: { class: 'form-control' }, label: false %>
    </div>

    <div class="form-group">
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { class: 'form-control', autocomplete: "new-password", placeholder: 'Password' }, label: false %>
    </div>

    <div class="form-group">
      <%= f.input :password_confirmation, required: true, input_html: { class: 'form-control', autocomplete: "new-password", placeholder: 'Password Confirmation' }, label: false %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: 'btn btn-primary btn-block' %>
    </div>
  <% end %>

  <div class="login-links">
    <%= render "devise/shared/links" %>
  </div>
</div>
