<!--Div 1 --->
<div class=" bg-main d-flex justify-content-center align-items-center div-with-full-vh">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="align-items-center gap-4 d-flex p-4 flex-column text-center">
      <i class="bi bi-calendar-event" style="font-size: 75px; color: #FF8B5E;"></i>

      <h1 class="text-center roboto">Discover when everyone is free</h1>
      <div class="d-flex justify-content-center align-items-center text-center roboto">
        <p> <strong>OneSlot</strong> is your group scheduling solution, share schedules, cut out back-and-forth texts, and pinpoint the perfect time.</p>
      </div>
      <a href="/users/sign_up" class="btn custom-btn roboto">Start Making Plans</a>
    </div>
  </div>
</div>

<!--Div 2 --->

<div class="bg-white div-with-full-vh" style="height: 100vh; display: flex; align-items: center; justify-content: center;">
  <div class="container d-flex flex-row justify-content-between" style="max-width: 100%; padding: 0 50px;"> <!-- Ensures no overflow and padding is consistent -->
    <!-- Left Column for Text -->
    <div class="col-md-6 d-flex flex-column justify-content-center"> <!-- Ensures vertical centering within the column -->
      <div>
        <h2 style="margin-bottom: 50px; font-weight: normal;">How It Works</h2>
        <div class="mb-5">
          <div class="mb-5">
            <h3 style="font-size: 1.25em;">Step 1: Sign Up & Create Your Profile</h3>
            <p>Get started in seconds with your email to customize your profile settings.</p>
          </div>
          <div class="mb-5">
            <h3 style="font-size: 1.25em;">Step 2: Add Your Schedule</h3>
            <p>Connect your calendar or manually input past engagements. This makes your free times visible to group members for easy planning.</p>
          </div>
          <div class="mb-5">
            <h3 style="font-size: 1.25em;">Step 3: Create Your Group</h3>
            <p>Create a group with a few clicks, and access a collective calendar showcasing everyone's events. This enables you to easily identify a mutual free slot that suits all members.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Right Column for Image -->
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <%= image_tag("Calendar.jpeg", alt: "Features and Benefits", class: "img-fluid", style: "width: 600px; border-radius: 20px;") %>
    </div>
  </div>
</div>

<!--Div 3 --->
<div class="bg-main div-with-full-vh d-flex flex-column justify-content-center align-items-center text-center">
   <h2 class="roboto text-uppercase" style="font-size: 0.9rem; letter-spacing: 0.15em; color: #767676;">Happy Customers</h2>
   <h2 class="roboto" style="font-size: 1.5rem; font-weight: normal; margin-top: 0.5rem;">We deliver what we promise. See what clients are expressing about us.</h2>
    <hr style="width: 150px; border: 1px solid black; margin-bottom: 5rem;" />


  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner h-100 ">
      <div class="carousel-item active">
        <div class="review-card mb-2 bg-main border bg-main mx-auto">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <%= image_tag("7.png", alt: "first review", class:"card-img-top img-fluid rounded-circle", style:"width: 60px; height: 60px") %>
          </div>
          <div class="card-body text-center">
            <p class="card-text" style="margin-bottom: 0; font-weight: bold;">David W.</p>
            <p class="card-text location-text" style="color: #aaa;">Houston, Texas</p>
            <div class="star-rating ">
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
            </div>
            <p class="card-text roboto">OneSlot has made scheduling our monthly book club meetings a breeze. No more confusion or double bookings. Plus, the interface is so user-friendly!</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="review-card mb-2 bg-main border bg-main mx-auto">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <%= image_tag("anna.jpeg", alt: "second review", class:"card-img-top img-fluid rounded-circle", style:"width: 60px; height: 60px") %>
          </div>
          <div class="card-body text-center">
            <p class="card-text" style="margin-bottom: 0; font-weight: bold;">Sarah T.</p>
            <p class="card-text location-text" style="color: #aaa;">New York City, New York</p>
            <div class="star-rating ">
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
            </div>
            <p class="card-text roboto">OneSlot has been a game-changer for our friend group. No more endless group chats trying to coordinate schedules. Now, we can easily find a time that works for everyone to hang out!</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="review-card mb-2 bg-main border bg-main mx-auto">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <%= image_tag("6.png", alt: "third review", class:"card-img-top img-fluid rounded-circle", style:"width: 60px; height: 60px") %>
          </div>
          <div class="card-body text-center">
            <p class="card-text" style="margin-bottom: 0; font-weight: bold;">Rachel T.</p>
            <p class="card-text location-text" style="color: #aaa;">Boston, Massachusetts</p>
            <div class="star-rating ">
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
            </div>
            <p class="card-text roboto">My dad's birthday celebration was a huge success! Seeing the joy on his face when he walked into the surprise party was priceless. OneSlot helped us overcome our busy schedules and create unforgettable memories with our loved ones.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="review-card mb-2 bg-main border bg-main mx-auto">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <%= image_tag("5.png", alt: "fourth review", class:"card-img-top img-fluid rounded-circle", style:"width: 60px; height: 60px") %>
          </div>
          <div class="card-body text-center">
            <p class="card-text" style="margin-bottom: 0; font-weight: bold;">Sean C.</p>
            <p class="card-text location-text" style="color: #aaa;">Chicago, Illinois</p>
            <div class="star-rating ">
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
            </div>
            <p class="card-text roboto">I love how intuitive OneSlot is to use. Whether it's organizing a family gathering or a study session with classmates, the app simplifies the process and saves us valuable time.</p>
          </div>
        </div>
      </div>
    </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

<!--Div 4--->

<div class="bg-orange d-flex justify-content-center align-items-center flex-column" id="hero" style="padding: 20px; color: white; font-family: 'Roboto', sans-serif;">
  <h3 style="color: white; roboto">Connect With Us</h3>
  <p>
    <!-- Example Social Media Links -->
    <a href="https://facebook.com/yourpage" style="margin-right: 10px; color: white; text-decoration: none;roboto;">Facebook</a>
    <a href="https://twitter.com/yourhandle" style="margin-right: 10px; color: white; text-decoration: none;roboto">Twitter</a>
    <a href="https://instagram.com/yourprofile" style="margin-right: 10px; color: white; text-decoration: none;">Instagram</a>
    <!-- Additional social media links as needed -->
  </p>
  <p>
    <!-- Contact Link -->
    <a href="/contact" style="color: white; text-decoration: none;">Contact Us</a>
  </p>
</div>
