<div class="container mx-auto px-4" style="min-height: 100vh; display: flex; flex-direction: column; justify-content: center;">
  <div class="card" style="border: none; border-radius: 20px;">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <h3><%= @group.name %></h3>
        <%= link_to "...", edit_group_path(@group), class: "edit-group-btn" %>
      </div>
      <p class="text-muted"><%= @group.description %></p>
      <p style="font-size: 15px"><strong>Members</strong></p>

      <ul class="list-unstyled d-flex flex-wrap">
        <% @group.users.each do |user| %>
          <li class="user-item">
            <div class="user-container">
              <% if user.profile_picture.attached? %>
                <%= image_tag user.profile_picture, class: 'profile-picture' %> 
                <% else %>
                  <%= image_tag 'default_profile.png', class: 'profile-picture'%>
                <% end %>
              <div class="user-name" style="font-size: 11px;"><%= user.name %></div>
            </div>
          </li>
        <% end %>
        <li class="user-item">
          <div class="add-member-container">
            <%= link_to "+", new_group_membership_path(@group), class: "add-member-btn", title: "Add member" %>
            <div class="user-name" style="font-size: 11px;">Add member</div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div style="padding-top: 20px;">
    <%= month_calendar events: @events do |date, events| %>
      <div class="day" data-bs-toggle="modal" data-bs-target="#modal-<%= date.strftime('%Y-%m-%d') %>">
        <div class="date"><%= date.day %></div>
        <% unless events.empty? %>
          <div class="events-indicator"><span class="dot">&#9679;</span></div>
        <% end %>
      </div>

      <div class="modal fade" id="modal-<%= date.strftime('%Y-%m-%d') %>" tabindex="-1" aria-labelledby="modalLabel<%= date.strftime('%Y-%m-%d') %>" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalLabel<%= date.strftime('%Y-%m-%d') %>"><%= date.strftime('%B %d, %Y') %></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <% available_times = @schedule_analyzer.compute_available_times_for_each_date[date] %>
              <% if events.empty? %>
                <p style="font-size: 15px;">No events are planned for today.</p>
              <% elsif available_times.nil? || available_times.empty? %>
                <p style="font-size: 15px;">No available time slots on this day.</p>
              <% else %>
                <h6>Available Time Slots:</h6>
                <% available_times.each do |time_range| %>
                  <p class="time-slot"><%= time_range %></p>
                <% end %>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
