<div class="container mx-auto px-4" style="min-height: 100vh; display: flex; flex-direction: column; justify-content: center;">
<%= render @group %>

<div style="padding-top: 20px;">
<%= month_calendar events: @events do |date, events| %>
  <div class="day" data-bs-toggle="modal" data-bs-target="#modal-<%= date.strftime('%Y-%m-%d') %>">
    <div class="date">
    <%= date.day %>
    </div>
    <% unless events.empty? %>
      <div class="events-indicator">
        <span class="dot">&#9679;</span>
      </div>
  </div>
    <% end %>  
  </div>

<div class="modal fade" id="modal-<%= date.strftime('%Y-%m-%d') %>" tabindex="-1" aria-labelledby="modalLabel<%= date.strftime('%Y-%m-%d') %>" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel<%= date.strftime('%Y-%m-%d') %>"><%= date.strftime('%B %d, %Y') %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if events.empty? %>
          <p>No one has events planned for today.</p>
        <% else %>
          <h6>Available Time Slots:</h6>
          <% available_times = available_times_for(date, events) %>
          <% if available_times.empty? %>
            <p>No available time slots.</p>
          <% else %>
            <% available_times.each do |time_range| %>
              <p><%= time_range %></p>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% end %>



<h2 style="font-size: 24px;" >Members in this group </h2>

<ul>
 <% @group.users.each do |user| %>
    <li>
      <%= user.name %>
      <%= button_to 'Remove', 
                    group_membership_path(group_id: @group.id, id: user.memberships.find_by(group: @group).id),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>

<%= render 'memberships/form', membership: @group.memberships.build, group: @group %>


<div>
  <%= link_to "Edit this group", edit_group_path(@group) %> |
  <%= link_to "Back to groups", groups_path %>

  <%= button_to "Destroy this group", @group, method: :delete %>
</div>
</div>
