<%= render @group %>

<%= month_calendar events: @events do |date, events| %>
  <div class="day" data-bs-toggle="modal" data-bs-target="#modal-<%= date.strftime('%Y-%m-%d') %>">
    <div class="date">
    <%= date.day %>
    </div>
    <% unless events.empty? %>
      <div class="events-indicator">
        <span class="dot">&#9679;</span>
      </div>
  </div>
    <% end %>


    <!-- Modal structure for the day, updated for Bootstrap 5 -->
    <div class="modal fade" id="modal-<%= date.strftime('%Y-%m-%d') %>" tabindex="-1" aria-labelledby="modalLabel<%= date.strftime('%Y-%m-%d') %>" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel<%= date.strftime('%Y-%m-%d') %>">Events on <%= date.strftime('%B %d, %Y') %></h5>
            <!-- Updated close button for Bootstrap 5 -->
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <% events.each do |event| %>
              <p><%= event.name %></p>
              <!-- Display event details here -->
            <% end %>
          </div>
          <div class="modal-footer">
            <!-- Ensure data-bs-dismiss attribute for Bootstrap 5 -->
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>



<h2>Members in this group </h2>

<ul>
 <% @group.users.each do |user| %>
    <li>
      <%= user.name %>
      <%= button_to 'Remove', 
                    group_membership_path(group_id: @group.id, id: user.memberships.find_by(group: @group).id),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>

<%= render 'memberships/form', membership: @group.memberships.build, group: @group %>


<div>
  <%= link_to "Edit this group", edit_group_path(@group) %> |
  <%= link_to "Back to groups", groups_path %>

  <%= button_to "Destroy this group", @group, method: :delete %>
</div>
