<div class="container">
  <h2>Your Groups</h2>
  <hr>
  <div class="row" id="groups">
    <% @groups.each do |group| %>
      <%= link_to group_path(group), class: "group-card-link" do %>
        <div class="group-card">
          <div class="group-card-body">
            <h5 class="group-card-title"><%= group.name %></h5>
            <p class="group-card-text"><%= group.description %></p>
            <div class="group-members">
              <% group.users.each do |user| %>
                <% if user.profile_picture.attached? %>
                  <%= image_tag user.profile_picture, class: "group-profile-picture" %>
                <% else %>
                  <%= image_tag 'default_profile.png', class: 'group-profile-picture', size: "30x30" %> <!-- Placeholder if no image -->
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
   <div class="create-group-button-container">
      <%= link_to new_group_path, class: "create-group-button" do %>
        <span class="plus-symbol">+</span>
        <div class="create-group-caption">Create a new group</div>
      <% end %>
</div>
  </div>
</div>
