<div class="row">
  <div class="col md-6">
    <h1>
      <%= @user.username %>
    </h1>
  </div>
</div>

<h2>
Your Calendar
</h2>
<%= link_to "Add an event", new_event_path %>

<%= month_calendar events: @events do |date, events| %>
  <div class="day">
    <div class="date"><%= date.day %></div>
    <div class="events">
      <% events.sort_by(&:start_time).each do |event| %>
        <div class="event">
          <% start_time_in_user_zone, end_time_in_user_zone = convert_event_times_to_user_time_zone(event, current_user.timezone) %>
          <%= link_to "#{event.name} - #{start_time_in_user_zone.strftime("%I:%M %p")} to #{end_time_in_user_zone.strftime("%I:%M %p")}", event_path(event) %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
