<h1>
<%=@user.username%>
</h1>

<h2>
Calendar
</h2>

<%= month_calendar events: @events do |date, events| %>
  <div class="day">
    <div class="date"><%= date.day %></div>
    <div class="events">
      <% events.each do |event| %>
        <div class="event">
          <%= event.name %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<%= link_to "Add an event", new_event_path %>
