<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Calendar:</strong>
    <%= event.calendar_id%>
  </p>

  <p>
    <strong>Start date time:</strong>
    <%= event.start_time %>
  </p>

  <p>
    <strong>End date time:</strong>
    <%= event.end_time %>
  </p>

  <p>
    <strong>Timezone:</strong>
    <%= event.timezone %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

</div>
